th {
  text-align: center;
  vertical-align: middle;
}
td {
  text-align: center;
  vertical-align: middle;
}

.color-cont {
  background-color: #8079d1;
  width: 50%;
  border-radius: 0.4rem 0 0 0.4rem;
}

::-webkit-scrollbar{
  width: 0px;
}