<app-block-loader [loading]="loading" [message]="loadMessage">
    <app-loader [loading]="loader" [message]="loadMessage">

        <section class="gradient-form" style="background-color: #eee; height: 100vh;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-10">
                        <div class="card rounded-3 text-black">
                            <div class="row g-0">
                                <div class="col-lg-12">
                                    <div class="card-body p-md-5 mx-md-4">

                                        <div class="text-center">
                                            <img src="https://media.discordapp.net/attachments/1022127438387486833/1174766254599458876/Untitled.png?ex=6568c955&is=65565455&hm=6a95103271b894664195d7b3959d8118524e601330fc30d1850a35da6dbbb4e9&=&width=1060&height=1060"
                                                alt="" style="width: 180px;">
                                            <h4 class="mt-3 mb-5 pb-1">SUVIDHA SCHEME</h4>
                                        </div>

                                        <form class="d-flex flex-column align-items-center" *ngIf="islogged == false">
                                            <div class="w-70">

                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="form2Example11">ENTER ID</label>
                                                    <input type="text" [ngModelOptions]="{standalone: true}"
                                                        style="width: 60vw;" [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="inputID" class="form-control"
                                                        placeholder="Enter ID here... " />
                                                </div>
                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="form2Example11">ENTER
                                                        PASSWORD</label>
                                                    <input style="width: 60vw;" type="password"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="inputPassword" class="form-control"
                                                        placeholder="Enter Password here... " />
                                                </div>


                                                <div class="text-center pt-1 mb-3 pb-1">
                                                    <button
                                                        class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 px-4"
                                                        type="button" (click)="login()">Login</button>
                                                </div>

                                            </div>

                                        </form>

                                        <form class="d-flex flex-column align-items-center" *ngIf="islogged == true">
                                            <div class="w-70">

                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="form2Example11">ENTER OTP</label>
                                                    <input type="text" [ngModelOptions]="{standalone: true}"
                                                        style="width: 60vw;" [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="inputOtp" class="form-control"
                                                        placeholder="Enter ID here... " />
                                                </div>


                                                <div class="text-center pt-1 mb-3 pb-1">
                                                    <button
                                                        class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 px-4"
                                                        type="button" (click)="verifyOtp()">Login</button>
                                                </div>

                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </app-loader>
</app-block-loader>