<app-loader [loading]="loader" [message]="'Saving EMI..'">
    <div *ngIf="selectedEnrolled === null" style="height: 100vh;" class="d-flex flex-column justify-content-center align-items-center">
    <div>The scanned code is wrong</div>
    <button  type="button" class="btn btn-info py-0 ps-2 pe-2" (click)="goBack()">Try again</button>
    </div>
<div class="d-flex flex-column" style="overflow: scroll;" *ngIf="selectedEnrolled !== null">
    <div class="color-cont d-flex flex-column pt-1 pb-1 justify-content-center align-items-center">
        <div class="d-flex flex-row align-items-center justify-content-center">  
            <p class="text-white mb-0 me-3">{{enrolled.data[selectedEnrolled].name}} - {{enrolled.data[selectedEnrolled].code}}</p>
            <p class="text-white mb-0" style="font-weight: 200;">({{enrolled.data[selectedEnrolled].number}})</p>
        </div>
      <hr style="width: 100vw;
      margin: 0.3rem;">
        <div class="d-flex flex-row justify-content-around align-items-center w-100">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="text-white mb-2 me-1" style="font-weight: 200;">AMOUNT PAID - </div>
                <h4 class="text-white">{{enrolled.data[selectedEnrolled].totalPaid}}</h4>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="text-white mb-2 me-1" style="font-weight: 200;">AMOUNT LEFT - </div>
                <h4 class="text-white">{{(enrolled.data[selectedEnrolled].inst1amount + enrolled.data[selectedEnrolled].inst2amount +
                    enrolled.data[selectedEnrolled].inst3amount +enrolled.data[selectedEnrolled].inst4amount +enrolled.data[selectedEnrolled].inst5amount +
                    enrolled.data[selectedEnrolled].inst6amount +enrolled.data[selectedEnrolled].inst7amount +enrolled.data[selectedEnrolled].inst8amount
                    +enrolled.data[selectedEnrolled].inst9amount+enrolled.data[selectedEnrolled].inst10amount+enrolled.data[selectedEnrolled].inst11amount+enrolled.data[selectedEnrolled].inst12amount)
                    - enrolled.data[selectedEnrolled].totalPaid
                    }}</h4>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column align-items-center " style="width: 100%;">
        <!-- <h4 class="scheme-name p-2 mb-0">{{enrolled.data[selectedEnrolled].schemeName}}</h4> -->
        <hr style="width: 100%;" class="m-0">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <th scope="row">1</th>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst1 ===enrolled.data[selectedEnrolled].inst1amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 1 ? '#90EE8F' : 'white'}"> {{enrolled.data[selectedEnrolled].inst1amount}}</td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst1 ===enrolled.data[selectedEnrolled].inst1amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 1 ? '#90EE8F' : 'white'}">
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit == 1">Benefit</div>
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit != 1">Paid</div></td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst1 !== enrolled.data[selectedEnrolled].inst1amount"></td>
                    <td>
                        <button *ngIf="enrolled.data[selectedEnrolled].inst1 !== enrolled.data[selectedEnrolled].inst1amount" type="button"
                            class="btn btn-info py-0 ps-2 pe-2"
                            (click)="payEmi(enrolled.data[selectedEnrolled].inst1amount,enrolled.data[selectedEnrolled].sheetName,enrolled.data[selectedEnrolled].code,1)">Pay</button>
                    </td>
                </tr>
                <tr >
                    <th scope="row">2</th>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst1 ===enrolled.data[selectedEnrolled].inst1amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 2 ? '#90EE8F' : 'white'}">{{enrolled.data[selectedEnrolled].inst2amount}}</td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst2 ===enrolled.data[selectedEnrolled].inst2amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 2 ? '#90EE8F' : 'white'}">
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit == 2">Benefit</div>
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit != 2">Paid</div></td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst2 !== enrolled.data[selectedEnrolled].inst2amount"></td>
                    <td>
                        <button *ngIf="enrolled.data[selectedEnrolled].inst2 !== enrolled.data[selectedEnrolled].inst2amount" type="button"
                            class="btn btn-info py-0 ps-2 pe-2"
                            (click)="payEmi(enrolled.data[selectedEnrolled].inst2amount,enrolled.data[selectedEnrolled].sheetName,enrolled.data[selectedEnrolled].code,2)">Pay</button>
                    </td>
                </tr>
                <tr >
                    <th scope="row">3</th>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst1 ===enrolled.data[selectedEnrolled].inst1amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 3 ? '#90EE8F' : 'white'}">{{enrolled.data[selectedEnrolled].inst3amount}}</td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst3 ===enrolled.data[selectedEnrolled].inst3amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 3 ? '#90EE8F' : 'white'}">
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit == 3">Benefit</div>
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit != 3">Paid</div></td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst3 !== enrolled.data[selectedEnrolled].inst3amount"></td>
                    <td>
                        <button *ngIf="enrolled.data[selectedEnrolled].inst3 !== enrolled.data[selectedEnrolled].inst3amount" type="button"
                            class="btn btn-info py-0 ps-2 pe-2"
                            (click)="payEmi(enrolled.data[selectedEnrolled].inst3amount,enrolled.data[selectedEnrolled].sheetName,enrolled.data[selectedEnrolled].code,3)">Pay</button>
                    </td>
                </tr>
                <tr >
                    <th scope="row">4</th>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst1 ===enrolled.data[selectedEnrolled].inst1amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 4 ? '#90EE8F' : 'white'}">{{enrolled.data[selectedEnrolled].inst4amount}}</td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst4 ===enrolled.data[selectedEnrolled].inst4amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 4 ? '#90EE8F' : 'white'}">
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit == 4">Benefit</div>
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit != 4">Paid</div></td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst4 !== enrolled.data[selectedEnrolled].inst4amount"></td>
                    <td>
                        <button *ngIf="enrolled.data[selectedEnrolled].inst4 !== enrolled.data[selectedEnrolled].inst4amount" type="button"
                            class="btn btn-info py-0 ps-2 pe-2"
                            (click)="payEmi(enrolled.data[selectedEnrolled].inst4amount,enrolled.data[selectedEnrolled].sheetName,enrolled.data[selectedEnrolled].code,4)">Pay</button>
                    </td>
                </tr>
                <tr >
                    <th scope="row">5</th>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst1 ===enrolled.data[selectedEnrolled].inst1amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 5 ? '#90EE8F' : 'white'}">{{enrolled.data[selectedEnrolled].inst5amount}}</td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst5 ===enrolled.data[selectedEnrolled].inst5amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 5 ? '#90EE8F' : 'white'}">
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit == 5">Benefit</div>
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit != 5">Paid</div></td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst5 !== enrolled.data[selectedEnrolled].inst5amount"></td>
                    <td>
                        <button *ngIf="enrolled.data[selectedEnrolled].inst5 !== enrolled.data[selectedEnrolled].inst5amount" type="button"
                            class="btn btn-info py-0 ps-2 pe-2"
                            (click)="payEmi(enrolled.data[selectedEnrolled].inst5amount,enrolled.data[selectedEnrolled].sheetName,enrolled.data[selectedEnrolled].code,5)">Pay</button>
                    </td>
                </tr>
                <tr >
                    <th scope="row">6</th>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst1 ===enrolled.data[selectedEnrolled].inst1amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 6 ? '#90EE8F' : 'white'}">{{enrolled.data[selectedEnrolled].inst6amount}}</td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst6 ===enrolled.data[selectedEnrolled].inst6amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 6 ? '#90EE8F' : 'white'}">
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit == 6">Benefit</div>
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit != 6">Paid</div></td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst6 !== enrolled.data[selectedEnrolled].inst6amount"></td>
                    <td>
                        <button *ngIf="enrolled.data[selectedEnrolled].inst6 !== enrolled.data[selectedEnrolled].inst6amount" type="button"
                            class="btn btn-info py-0 ps-2 pe-2"
                            (click)="payEmi(enrolled.data[selectedEnrolled].inst6amount,enrolled.data[selectedEnrolled].sheetName,enrolled.data[selectedEnrolled].code,6)">Pay</button>
                    </td>
                </tr>
                <tr >
                    <th scope="row">7</th>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst1 ===enrolled.data[selectedEnrolled].inst1amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 7 ? '#90EE8F' : 'white'}">{{enrolled.data[selectedEnrolled].inst7amount}}</td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst7 ===enrolled.data[selectedEnrolled].inst7amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 7 ? '#90EE8F' : 'white'}">
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit == 7">Benefit</div>
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit != 7">Paid</div></td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst7 !== enrolled.data[selectedEnrolled].inst7amount"></td>
                    <td>
                        <button *ngIf="enrolled.data[selectedEnrolled].inst7 !== enrolled.data[selectedEnrolled].inst7amount" type="button"
                            class="btn btn-info py-0 ps-2 pe-2"
                            (click)="payEmi(enrolled.data[selectedEnrolled].inst7amount,enrolled.data[selectedEnrolled].sheetName,enrolled.data[selectedEnrolled].code,7)">Pay</button>
                    </td>
                </tr>
                <tr >
                    <th scope="row">8</th>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst1 ===enrolled.data[selectedEnrolled].inst1amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 8 ? '#90EE8F' : 'white'}">{{enrolled.data[selectedEnrolled].inst8amount}}</td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst8 ===enrolled.data[selectedEnrolled].inst8amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 8 ? '#90EE8F' : 'white'}">
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit == 8">Benefit</div>
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit != 8">Paid</div></td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst8 !== enrolled.data[selectedEnrolled].inst8amount"></td>

                    <td>
                        <button *ngIf="enrolled.data[selectedEnrolled].inst8 !== enrolled.data[selectedEnrolled].inst8amount" type="button"
                            class="btn btn-info py-0 ps-2 pe-2"
                            (click)="payEmi(enrolled.data[selectedEnrolled].inst8amount,enrolled.data[selectedEnrolled].sheetName,enrolled.data[selectedEnrolled].code,8)">Pay</button>
                    </td>
                </tr>
                <tr >
                    <th scope="row">9</th>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst1 ===enrolled.data[selectedEnrolled].inst1amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 9 ? '#90EE8F' : 'white'}">{{enrolled.data[selectedEnrolled].inst9amount}}</td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst9 ===enrolled.data[selectedEnrolled].inst9amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 9 ? '#90EE8F' : 'white'}">
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit == 9">Benefit</div>
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit != 9">Paid</div></td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst9 !== enrolled.data[selectedEnrolled].inst9amount"></td>

                    <td>
                        <button *ngIf="enrolled.data[selectedEnrolled].inst9 !== enrolled.data[selectedEnrolled].inst9amount" type="button"
                            class="btn btn-info py-0 ps-2 pe-2"
                            (click)="payEmi(enrolled.data[selectedEnrolled].inst9amount,enrolled.data[selectedEnrolled].sheetName,enrolled.data[selectedEnrolled].code,9)">Pay</button>
                    </td>
                </tr>
                <tr >
                    <th scope="row">10</th>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst1 ===enrolled.data[selectedEnrolled].inst1amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 10 ? '#90EE8F' : 'white'}">{{enrolled.data[selectedEnrolled].inst10amount}}</td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst10 ===enrolled.data[selectedEnrolled].inst10amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 10 ? '#90EE8F' : 'white'}">
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit == 10">Benefit</div>
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit != 10">Paid</div></td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst10 !== enrolled.data[selectedEnrolled].inst10amount"></td>

                    <td>
                        <button *ngIf="enrolled.data[selectedEnrolled].inst10 !== enrolled.data[selectedEnrolled].inst10amount" type="button"
                            class="btn btn-info py-0 ps-2 pe-2"
                            (click)="payEmi(enrolled.data[selectedEnrolled].inst10amount,enrolled.data[selectedEnrolled].sheetName,enrolled.data[selectedEnrolled].code,10)">Pay</button>
                    </td>
                </tr>
                <tr >
                    <th scope="row">11</th>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst1 ===enrolled.data[selectedEnrolled].inst1amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 11 ? '#90EE8F' : 'white'}">{{enrolled.data[selectedEnrolled].inst11amount}}</td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst11 ===enrolled.data[selectedEnrolled].inst11amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 11 ? '#90EE8F' : 'white'}"><div *ngIf="enrolled.data[selectedEnrolled].benefit == 11">Benefit</div>
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit != 11">Paid</div></td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst11 !== enrolled.data[selectedEnrolled].inst11amount"></td>

                    <td>
                        <button *ngIf="enrolled.data[selectedEnrolled].inst11 !== enrolled.data[selectedEnrolled].inst11amount" type="button"
                            class="btn btn-info py-0 ps-2 pe-2"
                            (click)="payEmi(enrolled.data[selectedEnrolled].inst11amount,enrolled.data[selectedEnrolled].sheetName,enrolled.data[selectedEnrolled].code,11)">Pay</button>
                    </td>
                </tr>
                <tr >
                    <th scope="row">12</th>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst1 ===enrolled.data[selectedEnrolled].inst1amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 12 ? '#90EE8F' : 'white'}">{{enrolled.data[selectedEnrolled].inst12amount}}</td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst12 === enrolled.data[selectedEnrolled].inst12amount" [ngStyle]="{'background-color': enrolled.data[selectedEnrolled].benefit == 12 ? '#90EE8F' : 'white'}">
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit == 12">Benefit</div>
                        <div *ngIf="enrolled.data[selectedEnrolled].benefit != 12">Paid</div>
                        </td>
                    <td *ngIf="enrolled.data[selectedEnrolled].inst12 !== enrolled.data[selectedEnrolled].inst12amount"></td>

                    <td>
                        <button *ngIf="enrolled.data[selectedEnrolled].inst12 !== enrolled.data[selectedEnrolled].inst12amount" type="button"
                            class="btn btn-info py-0 ps-2 pe-2"
                            (click)="payEmi(enrolled.data[selectedEnrolled].inst12amount,enrolled.data[selectedEnrolled].sheetName,enrolled.data[selectedEnrolled].code,12)">Pay</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>
</app-loader>